@charset "utf-8";
/* CSS Document */

/*NAVBAR*/

/* match header bar icons buttons to DWB*/        
.btn-icon {
    display: flex; 
    flex-direction: row;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: rgba(231, 222, 222, 1);
    padding: .5rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.btn-icon > .fas {
    background-color: #fff;
    border-radius: 30px;
    color: #ab363a;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    margin: auto 8px;
}

/*center title inside container*/
#timeline-title-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
}

#timeline-title-container h4 {
   font-size: 1rem;
}
#selected-filters-container {
    display:none
}

.selected-filter-tag {
    display: inline;
    margin-right: 5px;    
    margin-bottom: 0;

}
.selected-filter-tag > .badge{

    background-color: white;
    color: #ab363a
}
.remove-filter-tag-btn {
    cursor: pointer;
    margin-left: 5px;

}

/*make flex container for event title and close button*/	
.event-title-container {
    display: none;
    justify-content:  space-between;
    align-items: center;
    font-size: 1rem;
  /*  height: 45px;*/
    flex-grow: 1;
    padding-right: 20px

}

/*match button to title and postion size*/
.event-title-container span {
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 1.2
}
/*reduce title size to fit in header*/		
.event-title-container h3 {
    font-size: 1.5rem;

}


#search-box-container {
    border-bottom: 2px solid #fff;
    width: 100%;
    margin-bottom: 5px;
    line-height: 1.2;
}

#search-box {    
    position: relative;
    background: #fff;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    /*text-transform: uppercase;*/
    font-weight: 500;
    background-color: transparent;
    text-overflow: ellipsis;
    width: 100%;
    line-height: 1.2;
}

#search-box:focus{
    outline: none;
}

.logo-bywg {
    /* width: 100%; */
    height: 46px;
    max-width: 220px
}

.navbar-custom {
    background-color: #ab363a!important;
    z-index: 1;
    justify-content: space-between;
    padding: 0.5rem 0;

}

.navbar-custom .navbar-collapse {
    flex-grow: 0;
    width: 450px;
}

/*****************************************************/
#timeline-container canvas {vertical-align: top}

#timeline-container {
    overflow: hidden;
    position: absolute;
    background-position: center;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

/*change placeholder text color*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #cccccc;;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #cccccc;;
}



/* reset some bootstrap elements for color code panel*/
    .color-code-filter-panel *{
        border-radius:0!important;
    }
    
    .color-code-filter-panel-header .input-group * {
        border: none!important;
    }

    #color-code-panel table {
        margin-bottom:0px;
    }

    #color-code-panel .table tbody+tbody {
        border: none
    }
	
	#color-code-panel .input-group.mb-3 {
		margin: 0!important;
	}
  

/*position and style filter and color code panels*/
    .filter-panel, .color-code-filter-panel  {
        width:100%;
        height: 100%;
        z-index: 3;
        top:0px;
        position: fixed;
        right: 0px;
        background-color: #fff;
        padding: 0px 0 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
        border-radius: 2px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
		box-sizing: border-box;
		overflow: auto;
	}          
    
/*style inner containers for filter panels*/
    .filter-panel-header    {
        text-align: center;
        padding: 10px; 
     }     

    .filter-panel-content {
        max-height: 75%;
        width: 100%;
        min-height: 0;
        padding: 10px;
        overflow: auto
    }

    .filter-panel-footer {
        position: absolute; 
        bottom: 0; 
        text-align: center; 
        width: 100%; 
        padding: 10px
    }

    .label-selected-filters {
        font-size: 14px; 
        color:red;
        display: block;
        white-space: normal;
        max-width: 95%;
    }
    
/*Position chevron on filter type list*/         
    #filter-types-list-container .fas {
	    position: absolute;
	    right: 16px;
	    top: 35%;
    }
/*make search box fill the panel*/
    .filter-panel-content input {
        width: 100%;
    }
          
/* make flex header for color code panel*/
    .color-code-filter-panel-header    {
        text-align: center;
        display: flex;
    }          



	#reading-panel{
		display: none;
		height: 100%;
		width: 100%;
		position: fixed;
		left: 0;
		/*top: 0;*/
		padding-bottom: 177px;		
		background-color: #fff;
		/*box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);*/
		border-radius: 2px;
		z-index: 2
	}

/*reduce reading panel height when panel content is closed*/
	#reading-panel.selected {
    	height: auto;
    	padding-bottom: 0;
	}
	#reading-panel.selected .reading-panel-content {
   	 	height: 0;
    }

    #reading-panel-background {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/92/Loading_icon_cropped.gif);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }
/*style reading panel header*/	
	.reading-panel-header{
		padding: 0;
		border-bottom: thin white solid;
		background-color: #eaeaea;
		/*color:white;*/
		}
	



/*hide event details on mobile*/
	.event-details {
		display: none;
	}	

	
/*make flex container for panel switching buttons*/
	.reading-panel-btns-container {
		display: flex;
		justify-content: space-around;
		background-color: #E5E7E6 
	}	
	
/*make full width split button*/
	.reading-panel-btns-container button{
		width: 50%;
		border-radius: 0;
        color: #ab363a;
        background-color: white;
        font-weight: 500;
        border: solid 1px #ab363a;
        padding: .25rem 0;
		}
.reading-panel-btns-container button:hover, .reading-panel-btns-container button.active {
          color: white;
    background-color: #ab363a;
}
/* make reading panel content fill screen*/
	.reading-panel-content {
		height: 100%;
	}	

/*make inserted iframe fill remaining space*/	
	#reading-panel-iframe {
		height: 100%; 
		width: 100%; 
		display: table; 
		border: none; 
		padding: none; 
		outline: none; 
		margin: 0;
	}	



/*autocomplete results*/
    .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
    .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete-selected { background: #F0F0F0; }
    .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
    .autocomplete-group { padding: 2px 5px; }
    .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

@media (min-width: 992px) {
    
        .logo-bywg {
        /* width: 100%; */
        height: 46px;
        max-width:inherit
    }
    #show-search-btn {
        display: none
    }
    
    
    #selected-filters-container{
        display: inherit
    }

	
/*adjust for desktop header*/
	#timeline-title-container{
       height: 65px;
	}

    #timeline-title-container h4 {
        margin: 10px;
        line-height: 0.5;
        font-size: 1.5rem;
	}
        
    .event-title-container {
		display: flex;
        font-size: 1.5rem;
        width:450px;  
        height:65px; 
        z-index:3; 
        padding-left:10px;
        flex-grow: 0;
        padding-right: 0
    }

    .btn-icon {
        padding: 0.5rem 0.5rem
    }
 
/*resize and position filter panel on desktop*/
    .filter-panel {
        position: absolute;
        max-width: 800px;
        max-height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
/*resize and position the color code panel on desktop*/    
    .color-code-filter-panel {
        max-height: 80%;
	    min-height: 0px;
        top:80px;
        width: auto;
        height: auto;    }
   
/*hide this button on desktop*/
    #btn-close-color-code-mobile {
        display:none;
    }
	
/*show this button on desktop*/
    #btn-close-color-code-desktop{
        display: inherit
    }
	
	
/* make side panel on desktop*/
	#reading-panel {
	width: 450px
	}
.reading-panel-header{
    padding: 10px 10px 1px;}
/* show event details in mini card on desktop*/
	.event-details {
	display:inherit
	}
}