<!DOCTYPE html>
<html>
<head>
	<title>No Wikipedia Article found</title>
</head>

<body style="padding: 20px">

<h3><%= gettext("No English Wikipedia article available for this person.") %></h3>
<p><a href="https://en.wikipedia.org/wiki/Wikipedia:How_to_create_a_page" target="_blank"><%= gettext("Learn how to add this missing article to Wikipedia") %></a></p>

</body>
</html>
