<footer class="bywg_footer container no-gutters d-print-none">
    <div class="row">
        <div class="col-md-12 col-lg-6 no-gutters bwyg_footer_first">
            <ul class="list-inline">
                <li><a href="https://www.library.wales/index.php?id=355">Privacy &amp; Cookies</a></li>
                <li><a href="https://biography.wales/copyright">Copyright</a></li>
                <li><a href="https://biography.wales/about">The Project</a></li>
                <li><a href="https://biography.wales/help">Help</a></li>
                <li><a href="https://biography.wales/about#contactus">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-3 no-gutters bywg_footer_second">
            <a href="https://www.library.wales/">
                <img class="bygw_logo-icon" src="https://biography.wales/assets/img/bywg_footer_llgc.png" alt="National Library of Wales Logo" title="National Library of Wales Logo">
            </a>
        </div>
        <div class="col-md-12 col-lg-3 no-gutters bywg_footer_third">
            <div class="icon-container">
                <a href="http://www.wales.ac.uk/en/CentreforAdvancedWelshCelticStudies/IntroductiontotheCentre.aspx">
                    <img class="bygw_logo-icon icon-round" src="https://biography.wales/assets/img/bywg_footer_ganolfan.png" alt="The Centre for Advanced Welsh and Celtic Studies Logo" title="The Centre for Advanced Welsh and Celtic Studies Logo">
                </a>
            </div>
            <div class="icon-container">
                <a href="https://www.cymmrodorion.org/">
                    <img class="bygw_logo-icon icon-round" src="https://biography.wales/assets/img/bywg_footer_cymmrodorion.png" alt="The Honourable Society of Cymmrodorion Logo" title="The Honourable Society of Cymmrodorion Logo">
                </a>
            </div>
                <div class="icon-container float-right">
                <a href="https://gov.wales/?lang=en">
                    <img class="bygw_logo-icon" src="https://biography.wales/assets/img/logo_cynulliad_round_transp.png" alt="Welsh Government Logo" title="Welsh Government Logo">
                </a>
            </div>
        </div>
    </div>
</footer>