<footer class="bywg_footer container no-gutters d-print-none">
    <div class="row">
      <div class="col-md-12 col-lg-6 no-gutters bwyg_footer_first">
        <ul class="list-inline">
          <li><a href="https://www.llyfrgell.cymru/index.php?id=355">Preifatrwydd a Chwcis</a></li>
          <li><a href="https://bywgraffiadur.cymru/copyright">Hawlfraint</a></li>
          <li><a href="https://bywgraffiadur.cymru/about">Y Prosiect</a></li>
          <li><a href="https://bywgraffiadur.cymru/help">Cymorth</a></li>
          <li><a href="https://bywgraffiadur.cymru/about#contactus">Cysylltu</a></li>
          <!--<li><a href="#top">Frig y dudalen</a></li>-->
        </ul>
      </div>
      <div class="col-md-12 col-lg-3 no-gutters bywg_footer_second">
        <a href="https://www.llyfrgell.cymru/">
          <img class="bygw_logo-icon" src="https://bywgraffiadur.cymru/assets/img/bywg_footer_llgc.png" alt="Logo Llyfrgell Genedlaethol Cymru" title="Logo Llyfrgell Genedlaethol Cymru">
        </a>
      </div>
      <div class="col-md-12 col-lg-3 no-gutters bywg_footer_third">
        <div class="icon-container">
          <a href="http://www.wales.ac.uk/cy/YGanolfanGeltaidd/CyflwyniadGanolfan.aspx">
            <img class="bygw_logo-icon icon-round" src="https://bywgraffiadur.cymru/assets/img/bywg_footer_ganolfan.png" alt="Logo Canolfan Uwchefrydiau Cymreig a Cheltaidd Prifysgol Cymru" title="Logo Canolfan Uwchefrydiau Cymreig a Cheltaidd Prifysgol Cymru">
          </a>
        </div>
        <div class="icon-container">
          <a href="https://www.cymmrodorion.org/cy/">
            <img class="bygw_logo-icon icon-round" src="https://bywgraffiadur.cymru/assets/img/bywg_footer_cymmrodorion.png" alt="Logo Anrhydeddus Gymdeithas y Cymmrodorion" title="Logo Anrhydeddus Gymdeithas y Cymmrodorion">
          </a>
        </div>
        <div class="icon-container float-right">
          <a href="https://gov.wales/?lang=cy">
            <img class="bygw_logo-icon" src="https://bywgraffiadur.cymru/assets/img/logo_cynulliad_round_transp.png" alt="Logo Lywodraeth Cymru" title="Logo Lywodraeth Cymru">
          </a>
        </div>
      </div>
    </div>
  </footer>